<ion-header>
  <ion-toolbar>
    <ion-buttons >
      <ion-back-button slot="end"></ion-back-button>
      <ion-title style="text-align: center;">UniJobs</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <div class="ion-padding-vertical">
    <!--
      Se establece un card que contendra un titulo
      y un contenido
    -->
    <ion-card class="ion-text-center">
      <ion-card-title class="ion-text-center">
        <ion-label>
          <h1>Postular al empleo</h1>
        </ion-label>
      </ion-card-title>
      <ion-card-content>
        
        <ion-button  color="dark" expand="block" (click)="postularemp()">postular</ion-button>
        <br/>
        <ion-button style="padding-right: 18%;"color="success" ion-left (click)="enviarsms()">Chatea con</ion-button>
        <ion-button  style="padding-right: 78%;" color="success"(click)="llamar()">llamar </ion-button>
      </ion-card-content>
      
    </ion-card>
  </div>

</ion-content>
